* {
    box-sizing: border-box;
    padding: 1%;
}

body {
    display: inline-flexbox;
    background-color:rgb(248, 245, 241)
}

/*Make body Headers line-up Vertically (flex-direction)*/
.header {
    display: inline-block;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color:rgb(43, 151, 240);
    color: aliceblue;
    width: 100%;
}

.title {
    flex-direction:row;
    font-size: 48px;
    padding-left: 20px;
}
.catalog {
    float: right;
    font-size: 24px;
}

.catalog{
    position: relative;
    text-align: right;
    display: inline-block;
}
a {
    color:aliceblue;
    text-decoration: none;
    padding: 0px 20px 0px 20px
}
/* Header Complete*/

main {
    background-color:rgb(208, 230, 230);
}

.content {
    display:flex;
    flex-wrap: wrap;
    justify-content:left;

}
.about-me {
    width: 100%;
    Height: 300px;
    background-color: yellow;
}
.about-me h2 {
    font-size: 36px;
}
.projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

.industry-focus h2 {
    font-size: 30px;
}
.marbles h2 {
    font-size: 30px;
    margin-left: 20px;
}
.routine h2 {
    font-size: 30px;
    margin-left: 20px;
}
.study-guide h2 {
    font-size: 30px;
    margin-left: 20px;
}
p {
    font-size: 16px;
    flex-align:center;
}
/*Add special affects for Body Headers*/ 

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}


}

.industry-focus{
    width: 400px;
    height: 400px;
}
.marbles {
    width: 400px;
    height: 400px;
}
.routine {
    width: 400px;
    height: 400px;
}
.study-guide{
    width: 400px;
    height: 400px;
}

/*Add Footer design*/

.footer {
    padding:0%
    font-family:0%
    text-align:
}

.footer h2 {
    font-size:
}
