* {
    box-sizing:border-box;
    padding: 1%;
    margin: 0;
}

body {
    background-color:rgb(248, 245, 241)
}

.header {
    display: inline-block;
    font-family:'Lucida Sans', 'Lucida Sans Regular';
    background-color:rgb(43, 151, 240);
    color: aliceblue;
    width: 100%;
    border-radius:20px;

}

.title {
    flex-direction:row;
    font-size: 48px;
    padding-left: 20px;
}

.catalog {
    float: right;
    display: inline-flex;
    padding-right: 30px;
}

.catalog a{
    position: relative;
    font-size: 24px;
    color:aliceblue;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}
.catalog a::before {
    content:'';
    background: aliceblue;
    font-weight: 500;
    top:100%;
    left: 0;
    width: 0;
    height: 2px;
    position: absolute;
}
.catalog a:hover::before {
    color:aliceblue;
    width: 100%;
}

main {
    background-color:rgb(208, 230, 230);
    border-radius:20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular';
    border: solid black 2px;
}

.about-me-container{
    display:flex;

    background-color: rgb(241, 241, 128);
    border-radius: 20px;

    border: solid black 2px;
    font-size:28px;
    width:100%;
}

.about-text {
    width:50%;
    font-size: 48px;
}

.about-text-content {
    font-size:30px;
}
.doggy {
    width:800px;
    border-radius:20px;
}

.projects {
    display: flex;
    flex-direction:row;
    flex-wrap:wrap;
    width: 100%;
}
#projects-header {
    font-size: 36px;
    width:100%;
}

.projects-card {
    border: solid black 2px;
}

.img {
    display:flexbox;
    border-radius:20px;
}

.industry-focus {
    height: 40vh;
    min-width:50%;
    background-color: rgb(238, 165, 238);
    border-radius: 20px;    
    margin: 1.5%;
    text-align:center;
}

.industry-focus h2 {
    font-size:30px;
}

.industry-focus img{
    object-fit:cover;
    vertical-align:bottom;
    
}

.industry-focus:hover {
    background-color:violet;
}

.fuel-locator {
    height: 40vh;
    min-width:30%;
    min-height:max-content;
    background-color: rgb(217, 240, 164);
    border-radius: 20px;    
    margin: 1.5%;
    text-align:center;
}

.fuel-locator:hover {
    background-color:rgb(217, 228, 120)
}

.fuel-locator h2 {
    font-size: 30px;
}

.fuel-locator img{
    object-fit:cover;
    vertical-align:bottom;
    border-radius:20px;
}

.marbles {
    height: 40vh;
    background-color: aliceblue;
    border-radius: 20px;     
    margin: 1.5%;
    text-align:center;
    min-width:30%;
}

.marbles h2{
    font-size:30px;
}

.marbles img{
    object-fit:cover;
    vertical-align:bottom;
    border-radius:20px;
}

.marbles:hover {
    background-color:rgb(154, 203, 231);
}

.routine {
    height: 40vh;
    background-color: lightgreen;
    border-radius: 20px;   
    margin: 1.5%;
    text-align:center;
    border-radius:20px;
    min-width:30%;
}

.routine h2 {
    font-size: 30px;
}

.routine h2 img{
    object-fit:cover;
    vertical-align:bottom;
    border-radius:20px;
}

.routine:hover {
    background-color: rgb(38, 202, 38);
}

.study-guide{
    height: 40vh;
    background-color: lightcoral;
    border-radius: 20px;   
    margin: 1.5%;
    text-align:center;
    min-width:30%;
}

.study-guide h2{
    font-size: 30px;
}

.study-guide h2 img {
    object-fit:cover;
    vertical-align:bottom;
    border-radius:20px;
}

.study-guide:hover {
    background-color:rgb(207, 56, 56)
}

p {
    font-size:24px;
}

.footer {
    display: flex;
    flex-wrap:wrap;
    padding-right: 30px;
    width:100%;
}

.footer h2{
    font-size:36px;
    margin:20px;
}

.footer a{
    margin:30px;
    font-size:24px;
    color:black;

}

.footer a:hover::before {
    content:'';
    color:black;
    width:100%;
}