* {
    box-sizing:border-box;
    padding: 1%;
    margin: 0;
}

body {
    background-color:rgb(248, 245, 241)
}

/*Make body Headers line-up Vertically (flex-direction)*/
.header {
    display: inline-block;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color:rgb(43, 151, 240);
    color: aliceblue;
    width: 100%;
}

.title {
    flex-direction:row;
    font-size: 48px;
    padding-left: 20px;
}
.catalog {
    float: right;
    font-size: 24px;
}

.catalog{
    position: relative;
    text-align: right;
    display: inline-block;
}
a {
    color:aliceblue;
    text-decoration: none;
    padding: 0px 20px 0px 20px
}
/* Header Complete*/

main {
    background-color:rgb(208, 230, 230);
}

.content {
    justify-content:left;
}
.about-me {
    width: 100%;
    Height: 300px;
    background-color: yellow;
}
.about-me h2 {
    font-size: 36px;
    margin-bottom: 20px;
}
.projects {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
}
.projects h2{
    font-size: 36px;
    width:100%;
}
.industry-focus h2 {
    font-size: 30px;
}
.marbles h2 {
    font-size: 30px;

}
.routine h2 {
    font-size: 30px;

}
.study-guide h2 {
    font-size: 30px;
}

.industry-focus{
    width: 50%;
    height: 400px;
    background-color: violet;
}
.marbles {
    width: 50%;
    height: 400px;
    background-color: aliceblue;
}
.routine {
    width: 50%;
    height: 400px;
    background-color: lightgreen;
}
.study-guide{
    width: 50%;
    height: 400px;
    background-color: lightcoral;
}


p {
    font-size: 24px;
    flex-align:center;
}
/*Add special affects for Body Headers*/ 



/*Add Footer design*/

.footer {
    padding:0%
    font-family:0%
    text-align:
}

.footer h2 {
    font-size:
}
